In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [1]:
import pandas as pd

# Create a sample dataframe
original_data = pd.read_csv('/content/drive/MyDrive/NewFairML/data/.csv',dtype=object)
#df = pd.DataFrame({'year': ['2010', '2011', '2012', '2020', '2021']})
df = original_data

# Define the desired values
valid_years = ["2010", "2011", "2012", "2013", "2014", "2015", "2016", "2017", "2018", "2019"]

FileNotFoundError: ignored

In [ ]:
df = original_data

In [ ]:
# Use the `~` operator to negate the condition
#df = df[~df['General Data year'].isin(valid_years)]

# Drop rows that do not match the desired values
df = df.loc[df['General Data year'].isin(valid_years)]

In [ ]:
original_data["General Data year"].value_counts()

2019    71126
2017    70692
2018    67846
2016    63936
2015    52618
2014    47195
2013    44110
2012    41622
2011    41459
2010    38401
Name: General Data year, dtype: int64

In [ ]:
df["General Data year"].value_counts()

2019    71126
2017    70692
2018    67846
2016    63936
2015    52618
2014    47195
2013    44110
2012    41622
2011    41459
2010    38401
Name: General Data year, dtype: int64

In [ ]:
df.to_csv('/content/drive/My Drive/USAll.csv', index=False)

In [ ]:
df.head(5)

,General Record Type,General Resident status,General Place of death and decedents status,General Day of week of death,General Data year,General Manner of death,Occurrence State(FIPS),Occurrence County(FIPS),Occurrence Expanded State,Occurrence County Population size,...,Residence Expanded State,The Decedent Date of Death,The Decedent Sex,The Decedent Age,The Decedent Marital status,The Decedent State or country of birth,The Decedent Education,Underlying Cause ICD-10 code,The Decedent Race Recode 5,The Decedent Hispanic Origin/Race Recode
0,2,2,6,6,2010,7,AK,020,AK,2,...,AK,01,F,1068 391909,D,AK AK,12 0,G049,3,8
1,1,1,4,1,2010,7,AK,170,AK,4,...,AK,01,F,1012 280803,S,AK AK,06 0,C37,1,6
2,1,1,4,1,2010,7,AK,170,AK,4,...,AK,01,F,1075 412110,D,OR OR,12 0,C719,1,6
3,1,1,4,6,2010,7,AK,020,AK,2,...,AK,01,M,1061 381808,W,ZZ YY,12 0,F03,4,8
4,1,1,4,7,2010,2,AK,170,AK,4,...,AK,01,F,1046 351507,M,CT CT,14 0,X72,1,6

In [ ]:
original_data.head(5)

,General Record Type,General Resident status,General Place of death and decedents status,General Day of week of death,General Data year,General Manner of death,Occurrence State(FIPS),Occurrence County(FIPS),Occurrence Expanded State,Occurrence County Population size,...,Residence Expanded State,The Decedent Date of Death,The Decedent Sex,The Decedent Age,The Decedent Marital status,The Decedent State or country of birth,The Decedent Education,Underlying Cause ICD-10 code,The Decedent Race Recode 5,The Decedent Hispanic Origin/Race Recode
0,2,2,6,6,2010,7,AK,020,AK,2,...,AK,01,F,1068 391909,D,AK AK,12 0,G049,3,8
1,1,1,4,1,2010,7,AK,170,AK,4,...,AK,01,F,1012 280803,S,AK AK,06 0,C37,1,6
2,1,1,4,1,2010,7,AK,170,AK,4,...,AK,01,F,1075 412110,D,OR OR,12 0,C719,1,6
3,1,1,4,6,2010,7,AK,020,AK,2,...,AK,01,M,1061 381808,W,ZZ YY,12 0,F03,4,8
4,1,1,4,7,2010,2,AK,170,AK,4,...,AK,01,F,1046 351507,M,CT CT,14 0,X72,1,6

In [ ]:
mydf = pd.read_csv('/content/drive/My Drive/USAll.csv', nrows=10)

In [ ]:
mydf

,General Record Type,General Resident status,General Place of death and decedents status,General Day of week of death,General Data year,General Manner of death,Occurrence State(FIPS),Occurrence County(FIPS),Occurrence Expanded State,Occurrence County Population size,...,Residence Expanded State,The Decedent Date of Death,The Decedent Sex,The Decedent Age,The Decedent Marital status,The Decedent State or country of birth,The Decedent Education,Underlying Cause ICD-10 code,The Decedent Race Recode 5,The Decedent Hispanic Origin/Race Recode
0,2,2,6,6,2010,7,AK,20,AK,2,...,AK,1,F,1068 391909,D,AK AK,12 0,G049,3,8
1,1,1,4,1,2010,7,AK,170,AK,4,...,AK,1,F,1012 280803,S,AK AK,06 0,C37,1,6
2,1,1,4,1,2010,7,AK,170,AK,4,...,AK,1,F,1075 412110,D,OR OR,12 0,C719,1,6
3,1,1,4,6,2010,7,AK,20,AK,2,...,AK,1,M,1061 381808,W,ZZ YY,12 0,F03,4,8
4,1,1,4,7,2010,2,AK,170,AK,4,...,AK,1,F,1046 351507,M,CT CT,14 0,X72,1,6
5,1,1,1,1,2010,7,AK,20,AK,2,...,AK,1,M,1066 391909,M,CA CA,17 0,C259,1,6
6,1,1,4,4,2010,7,AK,170,AK,4,...,AK,1,F,1080 422210,D,TX TX,12 0,E145,2,7
7,1,1,1,3,2010,7,AK,122,AK,5,...,AK,1,F,1096 452511,M,WI WI,12 0,C80,1,6
8,1,1,6,5,2010,7,AK,122,AK,5,...,AK,1,F,1079 412110,D,AK AK,12 0,C189,3,8
9,1,1,7,7,2010,7,AK,122,AK,5,...,AK,1,F,1083 422210,M,CT CT,12 0,I250,1,6